<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Poketourney 0.1</title>
  </head>
  <body>
    <p>Here's a thing.</p>
    <p>These are the lists:</p>
    <h2>Player 1</h2>
    <ol>
      {% for t in @list1 %}
        <li>{{ t }}</li>
      {% endfor %}
    </ol>
    <h2>Player 2</h2>
    <ol>
      {% for t in @list2 %}
        <li>{{ t }}</li>
      {% endfor %}
    </ol>
  </body>
</html>
